{% extends "base.html" %}

{% block content %}

<div style="max-width: 60vw; margin-left: auto; margin-right: auto; margin-top: 10%;">
    <center><h2>
        Enter Relevant Details
    </h2></center>
    <form method="POST" action="{{ url_for('form') }}">
        <label for="userid">Userid</label>
        <input type="text" id="userid" name="userid" placeholder="Enter userid.. 1">

        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="Enter name..  John Smith">
    
        <label for="dob">Date_of_birth</label>
        <input type="text" id="dob" name="dob" placeholder="YYYY/MM/DD.. 10/15/1985">

        <label for="address">Address</label>
        <input type="text" id="address" name="address" placeholder="Enter address..  123 Main St">

        <label for="ssn">SSN</label>
        <input type="text" id="ssn" name="ssn" placeholder="###-##-####.. 123-45-6789">

        <label for="credit_card_number">Credit_card_number</label>
        <input type="text" id="credit_card_number" name="credit_card_number" placeholder="####-####-####-####.. XXXX-XXXX-XXXX-1234">

        <input type="submit" value="Submit">
    </form>
</div>

{% endblock %}


